$gray: #607081
$primary: #72c8b8
.select-input
    position: relative
    display: inline-block
    width: 100%

    .select
        width: 100%
        height: auto
        border-radius: 10px
        border: none
        text-transform: capitalize
        color: $gray
        border: 2px solid #A0B2EE
        padding: 0 30px
        font-size: 16px
        cursor: pointer
        display: flex
        justify-content: space-between

    .checkbox
        position: absolute
        right: 15px
        top: 50%
        transform: translateY(-50%) rotate(-45deg)
        width: 8px
        height: 8px
        border-right: 2px solid $gray
        border-top: 2px solid $gray
        transition: all .4s linear

    .checkbox.checked
        width: 15px
        transform: translateY(-50%) rotate(130deg)
        border-color: $primary
        border-width: 4px



    .options
        position: absolute
        bottom: 60px
        left: 0
        height: fit-content
        border-radius: 20px
        overflow: hidden
        display: none
        z-index: 1
        box-shadow: 0 0 3px rgba(0,0,0,.5)
        padding: 10px
        min-width: 400px
        background-color:#fafafa

        &.active
            display: block

        .item

            width: 100%
            padding: 0 15px
            cursor: pointer
            border-radius: 8px
            display: flex
            align-items: center
            justify-content: space-between
            margin: 4px 0

            p
                color: $gray
                text-transform: capitalize
                margin: 0

            &:hover
                background-color:   rgba(205, 231, 228,.4)