@use 'default'

.container
    height: 100vh

    h1
        margin: 0

    display: flex
    flex-direction: column
    
.bottom-section
    flex: 1
    box-shadow: 0 -4px 8px rgba(0,0,0,.2),0 -6px 20px rgba(0,0,0,.2)
