@use 'default'
@use 'select'

@mixin flex-center($justify: center ,$direction: column)
    display: flex
    flex-direction: $direction
    justify-content: $justify
    align-items: center

.container
    min-height: 100vh
    display: flex
    flex-direction: column



.top-section
    @include flex-center
    flex: 1
    padding:20px
    
    p
        font-size: 1.5rem
        color: #666464
        width: 800px

    h1
        margin: 0
        font-size: 4rem
        color: #52489c
    
    
.bottom-section
    height: 150px
    box-shadow: 0 -4px 8px rgba(0,0,0,.2),0 -6px 20px rgba(0,0,0,.2)
    padding: 10px
    display: grid
    grid-template-columns: 2fr 4fr
    background-color: #1c0221
    color: #ffffff

    .left-panel
        display: grid
        grid-template-rows: 1fr
        grid-template-columns: 1fr 1fr
        align-items: center
        .date
            font-size: 2rem
            font-weight: bold
            text-align: center
            margin-left: 10px 

    .information
        display: grid
        grid-template-columns: 1fr 1fr
        grid-template-rows: 1fr 1fr

        div
            @include flex-center($justify: space-around , $direction: row)
            font-size: 1.6rem
            font-weight: bold
        
            &:nth-child(2n-1)
                .value
                    color: #06D6A0
            &:nth-child(2n)
                .value
                    color: #EF476F


        .value
        
            font-size: 1.4rem

            &::before
                content: '$'
                margin-right: 5px
                color: #ffd60a
.loading
    position: absolute
    width: 100%
    height: 100%
    z-index: 10
    top: 0
    background-color: #ffffff
    @include flex-center
    opacity: .8

.loaded
    opacity: 0
    visibility: hidden
    z-index: -99
    transition: opacity .4s          

@media only screen and (max-width: 992px)

    .top-section
        flex: 0
    .bottom-section
        flex: 1   

    .left-panel , .information
        grid-column: 1 / -1
    
    .top-section
        p
            width: 600px

@media only screen and (max-width: 768px)

    .top-section
        p
            width: 400px

    .bottom-section
        padding: 10px

        .left-panel
            justify-items: center
            margin: 20px 0
        .information
            row-gap: 20px
            div
                grid-column: 1 / -1
                font-size: 2.2rem
                padding: 20px 0
            
                .value
                    font-size: 1.8rem
                