@use 'default'
@use 'select'

@mixin flex-center($justify: center ,$direction: column)
    display: flex
    flex-direction: $direction
    justify-content: $justify
    align-items: center

.container
    height: 100vh
    display: flex
    flex-direction: column



.top-section
    @include flex-center
    flex: 1
    padding:20px
    
    p
        font-size: 1.5rem
        color: #666464
        width: 800px

    h1
        margin: 0
        font-size: 4rem
        color: #52489c
    
    
.bottom-section
    height: 150px
    box-shadow: 0 -4px 8px rgba(0,0,0,.2),0 -6px 20px rgba(0,0,0,.2)
    padding: 10px
    display: grid
    grid-template-columns: 1fr 4fr
    background-color: #1c0221
    color: #ffffff

    .left-panel
        @include flex-center

    .information
        display: grid
        grid-template-columns: 1fr 2fr 2fr
        grid-template-rows: 1fr 1fr

        div:not(:nth-child(1))
            @include flex-center($justify: space-around , $direction: row)
            font-size: 1.6rem
            font-weight: bold

        .date
            @include flex-center
            grid-row: 1 / -1
            font-size: 2rem
            font-weight: bold

        .value
        
            font-size: 1.4rem       